@tailwind base;
@tailwind components;
@tailwind utilities;

@layer componetnts {
  .nav_link {
    @apply tracking-widest px-6 py-2 uppercase transition duration-300 block sm:inline-block  rounded-none sm:rounded-sm hover:bg-white hover:text-black !important;
  }
  .nav_link_active {
    @apply bg-slate-50 font-medium text-black !important;
  }
  .social_links {
    @apply text-custom4 text-3xl;
  }
}

@layer utilities {
  @media (max-width: 299px) {
    .w-299-hidden {
      display: none;
    }
  }
  .banner_lt {
    background-color: #fff;
    background-image: linear-gradient(
        rgba(249, 247, 246, 0.6),
        rgba(249, 247, 246, 0.6)
      ),
      url(../public/images/gal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
